:root {
  --n: #030303;
  --b: #c7c7c7;
  --g: #a9a9a9;
  --w: #f8f8f8;
  --pat1: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAWSURBVHgBYxASFvn/79+//wwgAsQBAFq5CmMfGOMZAAAAAElFTkSuQmCC);
  --pat12: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAtSURBVHgBbcqxEQAgCATBxxIU7b8+tYZXIGS45JKVPvTBumf70JASkiF0rlp8cnUIOLZ2J5cAAAAASUVORK5CYII=);
  --pat2: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAqSURBVHgBZYrBCQAwCANtR2jV/SeNoqAIBpLc4+h9NgDdE0Mjt4BF85fh/NcVWWreAEAAAAAASUVORK5CYII=);
  --pat22: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA3SURBVHgBpY7BCQAgDANTR9Dq/vOpM6SKX8UKHuR3HJGY1DDpreJEgIOQtJvgFjZBc1l7Lvx/GD2MDHcwbQT0AAAAAElFTkSuQmCC);
}


.container {
	-webkit-animation: fadein 3s;
	   -moz-animation: fadein 3s;
	    -ms-animation: fadein 3s;
	     -o-animation: fadein 3s;
	        animation: fadein 3s;
}

.pat1 {
    background-image: var(--pat1);
}
.pat2 {
    background-image: var(--pat2);
}

h1 {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

p, h2 {
    text-shadow: 0 2px 0 white;
}

a {
    color: black;
}

.link.text {
    text-decoration: underline;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .pat1 {
        background-image: var(--pat12);
    }
    .pat2 {
        background-image: var(--pat22);
    }
}