<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="inter bg-washed-yellow">
    <div class="mw7 center-ns f6 f6-ns lh-copy ph3 ph5-ns container">
        <header class="mt5 measure center">
            <a href="/" title="Go home">
                <div class="flex flex-column">
                    <img src="/assets/avatar.svg" alt="" class="" width="48">
                    <h1 class="f5 mv0">mario siqueira</h1>
                    <h2 class="f6 mv0 fw4">Designer</h2>
                </div>
            </a>
        </header>
        {{content}}
        <footer class="f7 pv5">
            <p><a class="link dark-blue underline" href="https://creativecommons.org/licenses/by/4.0/">CC BY
                    4.0</a> &rarrlp; 2021
                {{site.author}}</p>
        </footer>
    </div>
</body>

</html>