---
layout: default
---

<section class="cf pv4">
    <div class="lh-copy">
        {{content}}
    </div>
</section>
<section class="cf measure center">
    <h2 class="dn ttu f7 f6-ns">Contact</h2>
    <div class="lh-copy">
        <article class="dt w-100 bb b--black-10 pv2 link">
            <a href="http://x.orph.eu/mail" class="grow dt w-100 link dark-blue">
                <div class="dtc w2 v-mid">
                    <img class="br3 fade"
                        src="https://camo.githubusercontent.com/0f3aa1f457bb92fbd2411761262ce1fb0f766ed74a4f4289bfc4a0b6024335d6/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f656d61696c2e737667">
                </div>
                <div class="dtc v-mid pl3">
                    <div class="f6 fw6 mv0 dark-blue">Mail</div>
                    <div class="f7 mv0 black-70">my first name at orph dot eu</div>
                </div>
            </a>
        </article>
        <article class="dt w-100 bb b--black-10 pv2 link">
            <a href="https://keybase.io/mario" class="grow dt w-100 link dark-blue">
                <div class="dtc w2 v-mid">
                    <img class="br3 fade"
                        src="https://camo.githubusercontent.com/35ef200b41ff8ee00091ae58e926ef2af3d4ead9a4eb52c7a5140f16e99db85f/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f6b6579626173652e737667">
                </div>
                <div class="dtc v-mid pl3 dark-blue">
                    <div class="f6 fw6 mv0 dark-blue">Keybase</div>
                    <div class="f7 mv0 black-70">keybase.io/mario (pgp key)</div>
                </div>
            </a>
        </article>
        <article class="dn w-100 bb b--black-10 pv2 link">
            <a href="https://merveilles.town/@mario" class="grow dt w-100 link dark-blue">
                <div class="dtc w2 v-mid">
                    <img class="br3 fade"
                        src="https://camo.githubusercontent.com/8ca3a4e9106a7fd14171f3bf6cd46b44114efa5f52f98793036bda3b7f5a4c2c/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f6d6173746f646f6e2e737667">
                </div>
                <div class="dtc v-mid pl3">
                    <div class="f6 fw6 mv0 dark-blue">Mastodon</div>
                    <div class="f7 mv0 black-70">@mario@merveilles.town</div>
                </div>
            </a>
        </article>
        <article class="dt w-100 bb b--black-10 pv2 link">
            <a href="https://x.orph.eu/linkedin" class="grow dt w-100 link dark-blue">
                <div class="dtc w2 v-mid">
                    <img class="br3 fade"
                        src="https://camo.githubusercontent.com/c8a9c5b414cd812ad6a97a46c29af67239ddaeae08c41724ff7d945fb4c047e5/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f6c696e6b6564696e2e737667">
                </div>
                <div class="dtc v-mid pl3 dark-blue">
                    <div class="f6 fw6 mv0 dark-blue">Linkedin</div>
                    <div class="f7 mv0 black-70">linkedin.com/me/mariosiqueira</div>
                </div>
            </a>
        </article>
    </div>
</section>