{% if backlinks.length > 0%}
<section class="cf f6 lh-copy">
   <p class="fw6">Backlinks</p>
   <div class="measure center">
   {% for link in backlinks %}
    <div class="mv0 measure backlink pv1">
        <a href="{{link.url}}" class="backlink__link">{{link.title}}</a>
        <div class="backlink__preview z-max" role="none">
        {{link.preview | markdownify }}
        </div>
    </div>
    {% endfor %}
</div>
</section>
{% else %}
<p class="f7 measure center black-50">No backlinks found.</p>
{% endif %}